.images{
   height:120px;
   width:120px;
   margin-left: 50px;
}

header{
    display:flex;
    flex-direction: row ;
    flex-wrap:wrap;
   
}

.cards{
    text-align: center;
}

.text{
   margin-left: 300px;
   color:white;
    
}

.imagelist{
    width:700px;
    height:400px;
    margin-top: 60px;
}

.cards{
    
    margin-left:20px;
    border:2px solid black;
    background-color:#C5C5C5;
}

p{
  width:100%; 
  font-family: italic; 
  padding:2px;
  font-size: 24px;

}

.dataapi{
    height:100px;
    width:1000px;
    margin-left: 100px;
    margin-top: 70px;
     
    
  }
